* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  height: 80px;
  background: #6daec0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 170px;
}

.posimg {
  margin: 10px;
  height: 42px;
}

#btn-menu {
  display: none;
}

header label {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.menu ul {
  background: #6daec0;
  display: flex;
  list-style: none;
}

.menu ul ul {
  display: none;
}

.menu a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  line-height: 32px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.menu a:hover {
  color: #05435c;
}

.menu a i {
  margin-left: 10px;
}

.menu ul li:hover ul {
  transition: all 0.3s ease;
  display: block;
  position: absolute;
}

@media (max-width: 998px) {
  header {
    padding: 0px 80px;
    align-items: center;
  }

  header label {
    display: block;
    transition: all 0.6s ease;
  }

  .menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 50%;
    transform: translateX(-150%);
    transition: all 0.4s;
    box-shadow: -3px 10px 10px rgba(0, 0, 0, 0.4);
  }

  .menu ul {
    flex-direction: column;
  }

  .menu ul ul {
    background-color: #4cb2ce;
  }

  .menu ul li:hover ul {
    display: none;
    position: static;
  }

  .menu a:hover {
    color: #05435c;
  }

  .menu a i {
    position: absolute;
    right: 16px;
    line-height: 32px;
  }

  #btn-menu:checked ~ .menu {
    transform: translateX(100%);
  }
  .submenu ul {
    background-color: black;
  }
}

.color_menu {
  color: white;
}

.active {
  color: #05435c;
}
/*carlitos saludando*/
.invitacion {
  display: flex;
  justify-content: flex-end;
}
.viñeta {
  background-color: #6daec0;
  font-weight: bold;
  color: white;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 39px;
  border-radius: 107px 107px 0px 107px;
}
.viñeta a {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}
.viñeta a:hover {
  color: #05435c;
  text-transform: uppercase;
  font-weight: 700;
}
.invitacion img {
  width: 300px;
}
/* Footer*/
.contenedor {
  margin: 0px auto;
  padding: 37px;
  max-width: 1216px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footerLetra {
  font-weight: 500;
}
.subContenedores1 {
  width: 201px;
}
.subContenedores2 {
  width: 251px;
}
.subContenedores3 {
  width: 213px;
}

.textoFooter {
  max-width: 775px;
  display: flex;
}

.iconos a {
  display: inline-block;
  margin: 0 15px;
  height: 14px;
}
.iconos a img {
  height: 100%;
}

.xd {
  height: 2000px;
  background-color: rgb(220, 255, 213);
}
.logousb {
  width: 72px;
}
.logousb img {
  width: 100%;
}
