.subContenedores1 {
  width: 109px;
  padding-right: 10px;
}
.subContenedores1 p {
  font-size: 8px;
}
.subContenedores2 {
  width: 109px;
  padding-right: 10px;
}
.subContenedores2 p {
  font-size: 8px;
}
.subContenedores3 {
  width: 109px;
  padding-right: 10px;
}
.subContenedores3 p {
  font-size: 8px;
}
.iconos {
  height: 100%;
}
/*carlitos saludando*/
.viñeta {
  width: 250px;
  height: 250px;
}

.subti2_noto {
  font-size: 14px;
}
.invitacion img {
  width: 200px;
}
