.menu {
  width: 90%;
  transform: translateX(140%);
  transition: all 0.4s;
}
#btn-menu:checked ~ .menu {
  transform: translateX(12%);
}
.menu a {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.116);
}
.submenu ul li a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.171);
  padding-right: 2px;
}
/*carlitos*/
.viñeta {
  margin-left: 20px;
  padding: 10px;
  border-radius: 40px 40px 0px 40px;
}
.invitacion img {
  width: 50%;
}
/*footer*/
footer .contenedor .textoFooter {
  font-size: 30px;
}
.iconos a {
  padding: 5px 0;
}
.contenedor {
  flex-direction: column;
  align-items: flex-start;
}
.textoFooter {
  flex-direction: column;
}
.subContenedores1 {
  width: 100%;
  margin-bottom: 53px;
}
.subContenedores2 {
  width: 100%;
  margin-bottom: 53px;
}
.subContenedores3 {
  width: 100%;
  margin-bottom: 53px;
}
.iconos {
  margin-bottom: 53px;
}
header {
  padding: 0px 20px;
}
