/*Banner y lo demas*/
.tamañoimg {
  width: 100%;
  height: 622px;
}

.texto-encima {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.texto-encima2 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.texto-encima3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cont1 {
  margin: 0px auto;
  padding: 37px 70px;
  max-width: 1216px;
  display: flex;
  justify-content: space-between;
}

.cont1 div {
  padding: 0px 10px;
}

.cont1 p {
  margin-top: 30px;
}

.subcont1 {
  width: 600px;
}

.subcont2 {
  width: 500px;
}
.boton-transparente {
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
  color: white;
  padding: 10px;
  font-weight: 700;
}

/*Temas*/
.temas {
  margin: 0px 49px;
}
.temas h2 {
  text-align: center;
  margin-bottom: 62px;
}

.contenedorTarjetas {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 998px;
  margin: 0 auto;
}
.contenedorTarjetas a {
  margin-bottom: 58px;
  font-weight: 400;
  text-decoration: none;
  max-width: 260px;
  color: #000000;
}

.contenedorTarjetas a img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 69px;
  box-shadow: rgba(0, 0, 0, 0.16) 6px 6px 18px;
}
.contenedorTarjetas a p {
  margin-top: 16px;
  text-align: center;
}
