.circulosDesordenados {
  margin-bottom: 10px;
}
.cont1 {
  padding: 0px;
  margin-bottom: 24px;
  flex-direction: column;
}
.subcont1 h2 {
  width: 100%;
  font-size: 30px;
  font-weight: 700;
}

.subcont2 img {
  height: 80%;
}

/*tarjetas*/
.temas {
  margin: 0;
}
.contenedorTarjetas {
  justify-content: space-around;
}
.contenedorTarjetas a {
  width: 97px;
  margin: 0 10px;
}
.contenedorTarjetas a img {
  width: 97px;
  height: 97px;
}
