.tituloMiHistoria
{
	background-image: url("../IMG/Narrativa/miHistoria2.png");
	width: 100%;
	/*margin-right: 50px;*/
	/*padding: 0px;*/
	/*margin-left: -10%;:*/
}

.contenedorHistoria
{
	width: 90%;
}

.logos
{
	width: 100%;
}