.tituloMiHistoria
{
	background-image: url("../IMG/Narrativa/miHistoria2.png");
	width: 100%;
	height: 130px;
	margin-bottom: : 100%;
	/*margin-right: 50px;*/
	/*padding: 0px;*/
	/*margin-left: -10%;:*/
}

.contenedorHistoria
{
	width: 90%;
}

.personajes .logos
{
	/*background-color: #a77658;*/
	/*margin: 100px;*/ 
	width: 200px;
	height: auto;
}