.personajes {
  align-items: flex-start;
  padding-left: 150px;
}

.personajes a .logos {
	/*background-color: #fbdb65;*/
	/*min-width: 100px;*/
	/*width: auto;*/
	/*margin-left: 100px;*/
	width: 150px;
	/*height: 100px;*/
}

.imagen1 {
	margin: auto;
}

.imagen2 {
	margin: auto;
}

.contenedorHistoria
{
	width: 90%;
}

