.tituloMiHistoria
{
	background-image: url("../IMG/Narrativa/miHistoria2.png");
	width: 100%;
	height: 130px;
	margin-bottom: : 100%;
	/*margin-right: 50px;*/
	/*padding: 0px;*/
	/*margin-left: -10%;:*/
}

.contenedorHistoria
{
	width: 90%;
}

.personajes a .logos 
{
	/*background-color: #dc00ff;*/
	/*margin: 0px; */
	/*width: 2000px;*/
	/*height: 100px;*/
	width:  140px;
}